# ============================================================
# FRONTEND — Environment Variables Template
# Salin file ini menjadi .env.local lalu isi nilainya
# cp .env.local.example .env.local
# ============================================================

# URL API Backend
NEXT_PUBLIC_API_URL=http://localhost:3002/api/v1

# Port frontend (opsional)
PORT=3003
